
input{
  width: 100%;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

:root {
  --primary: white;
  --secondary: slateGray;
  --text: black;
  --active: black;
  --inactive: slateGray;
}

* {
  transition-duration: 0.5s;
}
body {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  align-items: center;
  padding: 30px 0 0 0;
  max-width: 1300px;
}

@media (max-width: 1500px) {
  body {
    max-width: 1080px;
  }
}
#theme-switch,
:root:has(#theme-switch:checked) {
  --primary: #222327;
  --primary-contrast: #3e4148;
  --secondary: #ddd;
  --text: white;
  --border-left: none;
  --border-bottom: none;
  --text-hover: black;
  --hover-background: white;
  --active: slateGray;
  --inactive: white;
  --text-contrast:#222327;
}

#theme-switch,
:root:has(#theme-switch:not(:checked)) {
  --primary: white;
  --primary-contrast: #e9e9e9;
  --border-left: 2px solid #000;
  --border-bottom: 2px solid #000;
  --secondary: #ddd;
  --text-hover: black;
  --hover-background: #ddd;
  --text: black;
  --active: black;
  --inactive: slateGray;
  --text-contrast:#222327;
}