
input{
  width: 100%;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

:root {
  --primary: white;
  --secondary: slateGray;
  --text: black;
  --active: black;
  --inactive: slateGray;
}

* {
  transition-duration: 0.5s;
}
body {
  background: linear-gradient(var(--background-end), var(--background-start));
}
.page_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  align-items: center;
  padding: 30px 0 0 0;
  min-height: 100vh;
  max-width: 1300px;  
}
@media (max-width: 1500px) {
.page_container{
  max-width: 1080px;
  
}
}
#theme-switch,
:root:has(#theme-switch:checked) {
  --primary: #222327;
  --background-end:#222327;
  --background-start:#222327;
  --primary-contrast: #c6c9d0;
  --secondary: #ddd;
  --secondary-contrast: #bcbbbb;
  --text: white;
  --icon-contrast: rgb(37, 37, 37);
  --border-left: none;
  --border-bottom: none;
  --text-hover: black;
  --hover-background: white;
  --active: slateGray;
  --soft-contrast: rgb(223, 223, 223);
  --inactive: white;
  --text-contrast:#222327;
  --next-icon:#395ab6;
  --react-icon:#38c3d5;
  --expo-icon:#24dfa0;
  --black-container-end:#3a3a3a;
  --black-container-start:#000;
}

#theme-switch,
:root:has(#theme-switch:not(:checked)) {
  --primary: #edf2f8;
  --background-end:#d5d6d7;
  --background-start:#edf2f8;
  --primary-contrast: #ffffff;
  --border-left: 2px solid #000;
  --border-bottom: 2px solid #000;
  --secondary: #97969c;
  --secondary-contrast: #180d5c;
  --text-hover: black;
  --hover-background: #e6e4e7;
  --text: black;
  --icon-contrast: rgb(255, 255, 255);
  --soft-contrast: rgb(34, 33, 33);
  --active: black;
  --inactive: slateGray;
  --text-contrast:#222327;
  --next-icon:#0c142a;
  --react-icon:#278894;
  --expo-icon:#117453;
  --black-container-end:#191818;
  --black-container-start:rgb(50, 50, 50);
}