.footer-card-title {
  color: var(--text);
  text-align: left;
}
.footer-card-subtitle {
  color: var(--text);
  text-align: left;
}
.card-group {
  width: 340px;
  text-align: left;
}

@media (max-width: 1500px) {
  .card-group {
    width: 270px;
  }
}
.card-group:hover {
  border: 1px solid gray;
  background-color: var(--hover-background);
}

.card-group:hover > :is(.footer-card-title, .footer-card-subtitle) {
  color: var(--text-hover);
}
