.home_footer_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}

@media (max-width: 1500px) {
  .home_footer_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    justify-items: center;
  }
}

@media (max-width: 768px) {
  .home_footer_container{
    display: flex;
    width: 100vw;
    overflow-x: auto;
    justify-items: flex-start;
    justify-content: flex-start;
  }
}
