
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 40vh;
}
@media (max-width: 1500px) {
    .container {
      padding-top: 15vh;
      padding-bottom: 30vh;
    }
  }
.name_text,.stack_show {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
  font-weight: bolder;
  font-size: 40px;
  transition-duration: 0.5s;
}
.stack_show{
  padding-left: 5px;
}
@media (max-width: 768px) {
  
.name_text {
  max-width: 90vw;
  margin-inline: auto;
  justify-content: center;
  text-align: center;
}

.container {
  flex-direction: column;
  padding: 34vh 0 0 0;
}
}