@font-face {
  font-family: "Raleway";
  src: url("../../../public/fonts/Raleway-VariableFont_wght.ttf")
    format("truetype");
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
  padding-bottom: 40vh;
}
@media (max-width: 1500px) {
    .container {
      padding-top: 15vh;
      padding-bottom: 30vh;
    }
  }
.name_text {
  font-family: Raleway;
  color: var(--text);
  font-weight: bolder;
  font-size: 35px;
  transition-duration: 0.5s;
}
