.contact_carroussel_container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .contact_carroussel_container {
    overflow-x: auto;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}
